* {
  margin: 0;
  padding: 0;
}
.container {
  /* padding: 0 15px; */
  background-color: #f2f2f2;

  max-width: 1440px;
  width: 1440px;
  /* margin: 0px 50px; */
}
.clearfix {
  clear: both;
}
.header {
  background-image: url("/icon/homepage/header.jpeg");
  height: 594px;
  background-repeat: no-repeat;
  font-family: Oswald;
}
.name {
  font-size: 118px;
  color: #683810;
  opacity: 80%;
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: #d8b484;
  /* stroke-width: 4px;
  stroke: #d8b484; */
  text-shadow: 0px 5px 4px rgba(199, 99, 49, 0.41);
  position: absolute;
  top: 227px;
  left: 397px;
}
.slogan {
  font-size: 31px;
  color: #d8b484;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #683810;
  position: absolute;
  top: 385px;
  left: 591px;
}
.navbarcolor {
  background-color: #ffffff;
}
.navbar {
  margin: 0 50px;
  font-family: Oswald;
  font-size: 18px;
  height: 71px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar .list {
  display: flex;
  flex-grow: 1;
  align-items: left;
  justify-content: space-around;
  width: 887px;
  margin-right: 20px;
}
.navbar .list img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.navbar .list a {
  display: flex;
  align-items: center;
}
.navbar .search {
  border: 2px solid black;
  border-radius: 15px;
  flex-grow: 1;
  width: 320px;
  height: 60px;
  margin: 3px 0;
}
.navbar .search img {
  width: 70px;
  height: 70px;
  position: relative;
  left: 281px;
  top: -6px;
}
.navbar a {
  text-decoration: none;
  color: black;
}
.navbar img {
  width: 70px;
  height: 70px;
}

.content {
  margin: 0 50px;
  font-family: Oswald;
}
.content .news {
  max-width: 998px;
  max-height: 1181;
  background-color: white;
  margin: 20px;
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: 400px 376px;
}
.content .news .pic1 {
  width: 958px;
  height: 380px;
  margin: 20px;
}
.content .title1 {
  font-size: 36px;
  position: absolute;
  color: white;
  left: 110px;
  top: 963px;
}
.content .resach {
  max-width: 320px;
  max-height: 738;
  background-color: blueviolet;
}

.content .pic {
  width: 306px;
  height: 174px;
}
.content .g1 {
  max-width: 958px;
  height: 380px;
  grid-column: 1 / 4;
}
.content .g1 .tag1 {
  position: absolute;
  width: 85px;
  height: 31px;
  left: 110px;
  top: 935px;
}
.content .g2 {
  max-width: 306px;
  margin: 0px 0px 0px 20px;
}
.content .g2 .tag2 {
  width: 85px;
  height: 31px;
  position: absolute;
  left: 110px;
  top: 1240px;
}
.content .g3 {
  max-width: 306px;
  margin: 0px 0px 0px 0px;
}
.content .g3 .tag3 {
  width: 85px;
  height: 31px;
  position: absolute;
  left: 425px;
  top: 1238px;
}
.content .g4 {
  max-width: 306px;
  margin: 0px 20px 0px 0px;
}
.content .g4 .tag4 {
  width: 85px;
  height: 31px;
  position: absolute;
  left: 752px;
  top: 1241px;
}
.content .g5 {
  max-width: 306px;
  margin: 0px 0px 0px 20px;
}
.content .g5 .tag5 {
  width: 85px;
  height: 31px;
  position: absolute;
  left: 109px;
  top: 1635px;
}
.content .g6 {
  max-width: 306px;
  margin: 0px 0px 0px 0px;
}
.content .g6 .tag6 {
  width: 85px;
  height: 31px;
  position: absolute;
  left: 425px;
  top: 1635px;
}
.content .g7 {
  max-width: 306px;
  margin: 0px 20px 0px 0px;
}
.content .g7 .tag7 {
  width: 85px;
  height: 31px;
  position: absolute;
  left: 752px;
  top: 1635px;
}
.content .title {
  font-size: 20px;
  margin-top: 20px;
}
.content .mota {
  font-family: Oswald, sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: 0.02em;
  margin-top: 10px;
}
